body {
    font-family: "Comfortaa";
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

.btn-outline-success {
    color: #93c47d;
    border-color: #93c47d;
}

.btn-outline-success:hover {
    background-color: #93c47d;
    border-color: #93c47d;
}

.btn-outline-success:active {
    background-color: #93c47d !important;
    border-color: #93c47d !important;
}

nav > img {
    max-height: 100px;
}

.green {
    color: #93c47d;
}

#status {
    height: 50px;
    width: 200px;
    background-color: #93c47d;
    color: white;
    position: fixed;
    bottom: 25px;
    right: -225px;
    transition: all 1s;
    border-radius: 5%;
}

#statusText {
    line-height: 50px;
}

.circle__svg {
  transform: rotate(-90deg);
}

.circle__progress {
  fill: none;
  stroke-width: 3;
  stroke-opacity: 0.3;
  stroke-linecap: round;
}

.circle__progress { stroke: #93c47d; }

.circle {
  position: relative;
}

.percent {
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  transform: translate(-50%, -50%);
}

.percent__int { font-size: 28px; }

.circle__progress--fill {
  --initialStroke: 0;
  --transitionDuration: 0;
  stroke-opacity: 1;
  stroke-dasharray: var(--initialStroke);
  stroke-dashoffset: var(--initialStroke);
  transition: stroke-dashoffset var(--transitionDuration) ease;
}