<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <link rel="stylesheet" href="../static/styles.css">
        <script src="../static/index.js"></script>

        <title>Colo</title>
    </head>
    <body>
        <nav class="navbar navbar-light shadow-sm align-items-center">
            <a href="#" class="float-left ml-3" data-toggle="modal" data-target="#settingsModal"><img src="../static/settings.png" height="25"></a>
            <img class="my-3 mr-auto ml-auto" src="../static/colo_title.png" height="35"/>
            <a href="#" id="addDrink" class="float-right mr-3" data-toggle="modal" data-target="#addDrinkModal"><img src="../static/colo_Glass.png" height="50"><span class="green">+</span></a>
        </nav>

        <div id="drinks">
            <div class="container py-3">
                <div class="row">
                    <div class="col-6">
                        <div class="drink text-center" data-toggle="modal" data-target="#drinkDisplay" data-backdrop="static">
                            <img class="pb-2" src="https://images.cocktailflow.com/v1/cocktail/w_300,h_540/cocktail_blue_kamikaze-1.png" height="200">
                            <h5>Blue Kamikaze</h5>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="drink text-center" data-toggle="modal" data-target="#drinkDisplay" data-backdrop="static">
                            <img class="pb-2" src="https://alchetron.com/cdn/kamikaze-cocktail-b4c7f758-20d0-4101-abfc-6382fffff72-resize-750.png" height="200">
                            <h5>Lemon Drop Shot</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="status" class="shadow text-center">
            <span id="statusText"></span>
        </div>

        <div id="drinkDisplay" class="modal fade">
            <div class="modal-dialog" style="max-width: 300px;">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="circle my-3 mx-5">
                            <svg width="84" height="84" class="circle__svg">
                                <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--path"></circle>
                                <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--fill"></circle>
                            </svg>

                            <div class="percent mt-1">
                                <span class="percent__int">0</span>
                            </div>
                        </div>
                        <img id="drinkImg" class="ml-2 mt-3 mb-2" src="" height="200"/>
                        <h5 id="drinkName"></h5>
                        <hr/>
                        <button id="regularBtn" type="button" class="btn btn-outline-success">Regular</button>
                        <button id="strongBtn" type="button" class="btn btn-outline-success">Strong</button>
                        <p id="drinkProgress"></p>
                    </div>
                </div>
            </div>
        </div>

        <div id="settingsModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title green"><b>Settings</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5 class="green">Vials</h5>
                        <div class="row mb-2">
                            <div class="col-1"></div>
                            <div class="col-1 text-center mt-2">1</div>
                            <div class="col-4"><input id="vial1Input" type="text" class="form-control" placeholder="Ingredient"></div>
                            <div class="col-1 text-right mt-2">2</div>
                            <div class="col-4"><input id="vial2Input" type="text" class="form-control" placeholder="Ingredient"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1"></div>
                            <div class="col-1 text-center mt-2">3</div>
                            <div class="col-4"><input id="vial3Input" type="text" class="form-control" placeholder="Ingredient"></div>
                            <div class="col-1 text-right mt-2">4</div>
                            <div class="col-4"><input id="vial4Input" type="text" class="form-control" placeholder="Ingredient"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1"></div>
                            <div class="col-1 text-center mt-2">5</div>
                            <div class="col-4"><input id="vial5Input" type="text" class="form-control" placeholder="Ingredient"></div>
                            <div class="col-1 text-right mt-2">6</div>
                            <div class="col-4"><input id="vial6Input" type="text" class="form-control" placeholder="Ingredient"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                        <button id="saveSettingsBtn" type="button" class="btn btn-outline-success">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="addDrinkModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title green"><b>Add Drink</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row mb-2 no-gutters">
                                <div class="col-3 font-weight-bold green">
                                    <label>Name </label>
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="drinkNameInput">
                                </div>
                            </div>
                            <div class="row mb-2 no-gutters">
                                <div class="col-3 font-weight-bold green">
                                    <label>Ingredients </label>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="drinkIngredient1Input" placeholder="Ingredient 1">
                                </div>
                                <div class="col-2 px-2">
                                    <input type="number" class="form-control" id="drinkAmount1Input" placeholder="#">
                                </div>
                                <div class="col-3">
                                    <select id="drinkUnit1Input" class="form-control">
                                        <option selected>Oz</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2 no-gutters">
                                <div class="col-3">
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="drinkIngredient2Input" placeholder="Ingredient 2">
                                </div>
                                <div class="col-2 px-2">
                                    <input type="number" class="form-control" id="drinkAmount2Input" placeholder="#">
                                </div>
                                <div class="col-3">
                                    <select id="drinkUnit2Input" class="form-control">
                                        <option selected>Oz</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2 no-gutters">
                                <div class="col-3">
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="drinkIngredient3Input" placeholder="Ingredient 3">
                                </div>
                                <div class="col-2 px-2">
                                    <input type="number" class="form-control" id="drinkAmount3Input" placeholder="#">
                                </div>
                                <div class="col-3">
                                    <select id="drinkUnit3Input" class="form-control">
                                        <option selected>Oz</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-3 font-weight-bold green">
                                    Served
                                </div>
                                <div class="col-6">
                                    <select id="drinkServedInput" class="form-control">
                                        <option selected>Cocktail</option>
                                        <option selected>Shot</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                        <button id="addDrinkBtn" type="button" class="btn btn-outline-success">Add Drink</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
